@model LexiconUniversity.Core.Entities.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Avatar" alt="Profile picture" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            <address address="@Model.Address"></address>
        </dd>
    </dl>
    <hr />

    <h5>Courses</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Course name</th>
                <th>Grade (1-5)</th>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model.Enrollments) {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Grade)
                </td>
            </tr>
}
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
